.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mw-500 {
  width: 500px;
}

.px-3 {
  padding-inline: 1rem;
}

.px-5 {
  padding: 10px;
}

.px-10 {
  padding: 50px;
}

.text-center {
  text-align: center;
}

.text-color-red-header{
   color: #DF1827;
   font-weight: lighter;
}

.text-color-red{
  color: #DF1827;
}

.text-color-blue{
  color: #0047AB;
}

.card {
  padding : 20px 10px 5px 10px;
  box-shadow:  6px 6px 10px grey;
  border-radius: 10px;
}

.justify-content-between{
  justify-content: space-between;
 }

 .justify-content-end{
  display: flex;
  justify-content:end;
 }

 .d-flex{
  display: flex;
 }

